{{template "base/head" .}}
<div class="user settings security">
	<div class="ui container">
		<div class="ui grid">
			{{template "user/settings/navbar" .}}
			<div class="twelve wide column content">
				{{template "base/alert" .}}
				<h4 class="ui top attached header">
					{{.i18n.Tr "settings.two_factor"}}
					<a class="ui right mini green toggle button" href="{{AppSubURL}}/user/settings/security/two_factor_create">Add second factor</a>
				</h4>
				<div class="ui attached segment two-factor">
					<div class="ui key list">
						<div class="ui item">
							<p class="text bold">
								{{.i18n.Tr "settings.two_factor_status"}}
								{{if or .TwoFactor .WebAuthentication}}
									<span class="text green">{{.i18n.Tr "settings.two_factor_on"}} <i class="octicon octicon-check"></i></span>
								{{else}}
									<span class="text red">{{.i18n.Tr "settings.two_factor_off"}} <i class="octicon octicon-x"></i></span>
								{{end}}
							</p>
						</div>
						{{if .TwoFactor}}
							<div class="ui item grid">
								<div class="one wide column">
									<i class="mega-octicon octicon-key left"></i>
								</div>
								<div class="ten wide column">
									<strong>TOTP</strong>
								</div>
								<div class="right floated four wide column">
									<div class="right floated button">
										<button class="ui tiny red basic button delete-button" data-url="{{$.Link}}/totp_disable">
											{{.i18n.Tr "settings.delete_key"}}
										</button>
									</div>
								</div>
							</div>
						{{end}}
						{{range .WebAuthentication}}
							<div class="ui item grid">
								<div class="one wide column">
									<i class="fa fa-usb fa-rotate270 fa-2x left"></i>
								</div>
								<div class="ten wide column">
									<strong>Security Token Nr. {{.ID}}</strong>
								</div>
								<div class="right floated four wide column">
									<div class="right floated button">
										<button class="ui red tiny basic button delete-button" data-url="{{$.Link}}/webauthentication_disable" data-id="{{.ID}}">
											{{$.i18n.Tr "settings.delete_key"}}
										</button>
									</div>
								</div>
							</div>
						{{end}}
						{{if or .TwoFactor .WebAuthentication}}
							<div class="ui item grid">
								<div class="one wide column">
									<i class="mega-octicon octicon-flame left"></i>
								</div>
								<div class="ten wide column">
									<strong><a href="{{AppSubURL}}/user/settings/security/two_factor_recovery_codes">Recovery Codes</a></strong>
								</div>
							</div>
						{{end}}
					</div>
				</div>
				{{if or .TwoFactor .WebAuthentication}}
					<br>
					<p>{{.i18n.Tr "settings.two_factor_http" AppSubURL "/user/settings/applications" "https://{token}@try.gogs.io/user/repo.git" | Safe}}</p>
				{{end}}
			</div>
		</div>
	</div>
</div>

<div class="ui small basic delete modal">
	<div class="ui icon header">
		<i class="trash icon"></i>
		{{.i18n.Tr "settings.two_factor_disable_title"}}
	</div>
	<div class="content">
		<p>{{.i18n.Tr "settings.two_factor_disable_desc"}}</p>
	</div>
	<div class="actions">
		<div class="ui red basic inverted cancel button">
			<i class="remove icon"></i>
			{{.i18n.Tr "modal.no"}}
		</div>
		<div class="ui green basic inverted ok button">
			<i class="checkmark icon"></i>
			{{.i18n.Tr "modal.yes"}}
		</div>
	</div>
</div>
{{template "base/footer" .}}
