{{template "base/head" .}}
<div class="user settings security two-factor">
	<div class="ui container">
		<div class="ui grid">
			{{template "user/settings/navbar" .}}
			<div class="twelve wide column content">
				{{template "base/alert" .}}
				<h4 class="ui top attached header">
					Add a second factor
				</h4>
				<div class="ui attached segment">
					<div class="ui list">
						<div class="item">
							Display Name: <input type="text" />
						</div>
						<div class="item">
							<a href="{{AppSubURL}}/user/settings/security/two_factor_enable">TTOP / Google Authenticator</a>
						</div>
						<div class="item">
							<a id="registerWebAuthn">Security Key</a>
						</div>
						<div class="item">
							<a>Windows Hello / TPM</a>
						</div>
						<div class="item">
							<button name="Create" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{template "base/footer" .}}
